name: DCO

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  dco:
    runs-on: ubuntu-latest
    steps:
      - name: DCO Check
        uses: cpina/github-action-dco@v2
        with:
          # Check all commits in the Pull Request
            config-file: ''
